<h1><%=  @title = t('views.navigation.about') %></h1>
<p><em>Tempus Fugit</em> is a simple time tracking tool for professional, students, or anyone trying to answer the
  question:
  <em>Where did my day go?</em></p>
<p>Sign up and start logging your time.  If you want to get fancy, add a project, a client, and create reports for each client.</p>
<p>The site originated in a programming exercise to kick the tires of Rails 4 and a new rspec/capybara automated testing
  DSL.</p>
